body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

p {
    font-size: 24px;
    margin: 10px 0;
}

/* Clases para alineación */
.izquierda {
    text-align: left;
}

.centro {
    text-align: center;
}

.derecha {
    text-align: right;
}
