body {
    font-family: 'Merriweather', serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 40px;
    padding: 0;
}

h1 {
    font-size: 48px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    color: #222;
}

.autor {
    color: #777;
    font-size: 18px;
}

.autor a {
    color: #3498db;
    text-decoration: none;
}

p {
    font-size: 20px;
    line-height: 1.6;
}

.cursiva {
    font-family: 'Playfair Display', serif;
    font-style: italic;
}
