body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #f0f0f0;
    height: 60px; /* Aumentamos la altura para mejor visualización */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold; /* Enlaces en negrita */
    padding: 10px 15px; /* Padding para el hover */
    transition: color 0.3s ease; /* Transición suave para el color */
}

nav ul li a:hover {
    color: #007bff; /* Color al hacer hover */
}

.menu-icon {
    display: none;
    font-size: 20px;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}