body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 24px;
    margin: 8px 0;
}

.manzana {
    color: rgb(217, 9, 9);
}

.banana {
    color: rgb(244, 142, 18);
}

.kiwi {
    color: green;
}

.naranja {
    color: orange;
}

.uva {
    color: rgb(128, 0, 51);
}

.frutilla {
    color: rgb(226, 13, 48);
}

.anana {
    color: rgb(245, 202, 11);
}

.pera {
    color: rgb(193, 205, 19);
}

.ciruela {
    color: purple;
}

.cereza {
    color: rgb(194, 11, 11);
}
