body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('img/background.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.booking-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 900px;
}

.booking-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-btn {
    display: flex;
    align-items: inherit;
}

.submit-btn {
    background: #ff0063;
    border: none;
    color: #fff;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    height: 55px;
}

.submit-btn:hover {
    background: #e00057;
}
