body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #EEF1F4;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.login-box {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 340px; 
    padding-top: 0; 
}

.browser-bar {
    display: flex;
    background-color: #F8FAFC;
    border-radius: 4px 4px 0 0;
    width: 100%;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #EEF1F4;
    margin: 8px 8px; 
}

