body {
    background-color: #212121; /* Fondo oscuro */
    color: #FAFAFA;            /* Texto claro */
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 50px;
  }
  
  h1 {
    font-size: 120px;
    font-weight: 900;
  }
  
  p {
    font-size: 48px;
    font-weight: 700;
  }
  
  .nombre { color: #ff5733; }      
  .disenadora { color: #3498db; }  
  .frontend { color: #2ecc71; }    
  .cafe{ color: #f39c12; }       
  