/* Contact */
.contact-section {
  background-color: #f6f7fb;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4em 0;
}

.contact {
  display: flex;
  text-align: left;
  background-color: #ffffff;
  padding: 80px 60px;
  border-radius: 20px;
  border: 1px solid #e0e0e0;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.contact .section-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #f26aa9; /* Color rosa para el título */
}

.contact-column {
  width: 50%;
}

.contact-column:first-of-type {
  padding-right: 20px;
}

.contact-column:last-of-type {
  padding-left: 20px;
}

.contact-social-links {
  margin-top: 40px;
  transition: 0.2s;
}

.contact-social-item {
  display: flex;
  margin: 5px 0;
}

.contact-social-link:hover {
  color: #f26aa9; /* Color rosa al hacer hover */
}

.contact-social-link:hover .contact-social-icon {
  background-color: #f26aa9; /* Color rosa */
  color: #fff;
}

.contact-social-link {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 100px;
  color: #2e2e31; /* Color de texto predeterminado */
}

.contact-social-icon {
  display: block;
  width: 2.2rem;
  height: 2.2rem;
  background-color: #fff;
  color: #f26aa9; /* Color rosa */
  border-radius: 50%;
  font-size: 1.2rem;
  line-height: 2.2rem;
  margin-right: 10px;
  text-align: center;
  transition: 0.2s;
}

.input-name-wrapper {
  display: flex;
}

.form-control {
  margin-bottom: 15px;
  flex-grow: 1;
  position: relative;
}

.input-name-wrapper .form-control:nth-of-type(1) {
  margin-right: 10px;
}

.input-name-wrapper .form-control:nth-of-type(2) {
  margin-left: 10px;
}

label {
  margin-bottom: 10px;
  display: block;
  font-weight: 600;
  margin-top: 5px;
  color: #2e2e31; /* Color de texto predeterminado */
}

input:valid:focus,
textarea:valid:focus {
  box-shadow: 0px 0px 5px #f26aa9; /* Color rosa */
}

input:invalid:not(:placeholder-shown):focus,
textarea:invalid:not(:placeholder-shown):focus {
  box-shadow: 0px 0px 5px #f26aa9; /* Color rosa */
}

input:invalid:not(:placeholder-shown),
textarea:invalid:not(:placeholder-shown) {
  border: 1px solid #f26aa9; /* Color rosa */
}

input:valid,
textarea:valid {
  border: 1px solid #f26aa9; /* Color rosa */
}

.icon-invalid,
.icon-valid {
  display: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
  transform: translateY(50%);
}

.icon-valid {
  color: #f26aa9; /* Color rosa */
}

.icon-invalid {
  color: #f26aa9; /* Color rosa */
}

input:valid ~ .icon-valid,
textarea:valid ~ .icon-valid,
input:not(:placeholder-shown):invalid ~ .icon-invalid,
textarea:not(:placeholder-shown):invalid ~ .icon-invalid {
  display: block;
}

@media (max-width: 900px) {
  .contact-section {
    flex-direction: column;
    padding: 0;
    background-color: transparent;
  }

  .contact {
    flex-direction: column;
    padding: 0 40px 120px;
    border: 0;
  }

  .contact-column {
    width: 100%;
    margin-bottom: 40px;
  }

  .contact-column:last-child {
    padding-left: 0;
    margin-bottom: 60px;
  }

  .contact-social-links {
    display: flex;
    flex-wrap: wrap;
  }

  .contact-social-item {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .contact {
    padding: 20px;
  }

  .contact-social-item {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }

  .input-name-wrapper {
    flex-direction: column;
  }

  .input-lastname {
    margin-left: 0;
  }

  .input-name-wrapper .form-control:nth-of-type(1) {
    margin-right: 0;
  }

  .input-name-wrapper .form-control:nth-of-type(2) {
    margin-left: 0;
  }
}