/* Header */
header {
  background-color: #fff;
  padding: 25px 0;
  box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: 0.4s;
}

.menu-icon-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 0 20px; 
}

.logo-header {
  flex: 1; 
}

.logo-text {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
}

.nav-header {
  display: flex;
  justify-content: flex-end; 
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  line-height: 2.5;
  padding: 0 10px;
  border-radius: 100px;
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #8338ec;
}

.nav-link.selected {
  color: white;
  padding: 0 30px;
  background-color: #8338ec; 
  border-radius: 100px;
}

.open-menu-btn {
  display: none;
  font-size: 16px;
  margin: 0 15px;
  cursor: pointer;
  background: none;
  border: none;
}

.open-menu-btn:hover {
  color: #8338ec;
}

.fa-bars {
  font-size: 25px;
  margin-left: 15px;
}

@media (max-width: 1100px) {
  header {
    padding: 15px 20px;
  }
}

@media (max-width: 650px) {
  .nav-header {
    display: none;
  }

  .open-menu-btn {
    display: block;
  }
}