body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #0e0e0e;
}

header, main, footer {
    padding: 20px;
    text-align: center;
    width: 100%;
}

header {
    background-color: #ffc9ff;
    font-weight: bold;
    flex-grow: 1; /* 1 parte del espacio disponible */
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: #ffffff;
    flex-grow: 2; /* 2 partes del espacio disponible */
    display: flex;
    justify-content: center;
    align-items: center;
}

main > * {
    margin: 0;
}

footer {
    background-color: #cb87f6;
    font-weight: bold;
    flex-grow: 1; /* 1 parte del espacio disponible */
    display: flex;
    justify-content: center;
    align-items: center;
}